/** @format */

.sex {
  border-bottom: 2px solid rgba(163, 178, 186, 0.33);
  max-width: 950px;
  display: block;
  margin: 0 auto;
}
#sex {
  border-bottom: 2px solid rgba(163, 178, 186, 0.33);
}
#vol {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin-top: 18px;
  margin-left: 42px;
  color: #3790ce;
}
#vol:hover {
  color: #f59834;
}
#block {
  max-width: 980px;
  display: block;
  margin: 0 auto;
  color: #000;
  font-weight: bolder;
  font-size: 45px;
  text-transform: capitalize;
}
#detail {
  font-size: 12px;
}
p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-style: italic;
  letter-spacing: -0.09px;
  line-height: 19px;
  margin-top: 7px;
  padding-bottom: 2px;
}
#meaning {
  font-weight: 800;
  font-size: 18px;
}
#pos {
  padding: 4px 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  letter-spacing: -0.07px;
  line-height: 17px;
  text-align: center;
}

@media (max-width: 765px) {
  #pos {
    margin-left: 30px;
    text-align: left;
  }
}
