/** @format */

col-3 img,
svg {
  transform: scale(0.8);
  margin: 5px;
}
.search {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #fafafa;
}

.header {
  border: 1px outset #eff1f1;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f2f2;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;

  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  background-color: #f59834;
  border-radius: 0 1.625rem 1.625rem 0;

  border: none;

  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

@media (max-width: 756px) {
  #searchQueryInput {
    margin: 9px;
  }
  .col-3 img,
  svg {
    width: 90px;
  }
  #small {
    width: 32px;
  }
}
