/** @format */

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 16px;
  color: #3790ce;
  margin-left: -78px;
}
li {
  align-self: center;
}
.syn {
  color: #f59834;
  margin-left: -12px;
}
@media (max-width: 997px) {
  ul {
    margin-left: -38px;
    font-size: 15px;
  }
  #block {
    font-size: 32px;
  }
}
